<div class="home-cards">
  <p>Link</p>
  <div class="col-md-4">
    <%= link_to "RMIT", "#"%>
  </div>
  <div class="col-md-4">
    <%= link_to "Google", "#"%>
  </div>
  <div class="col-md-4">
    <%= link_to "Google", "#"%>
  </div>
  <div class="col-md-4">
    <%= link_to "Google", "#"%>
  </div>
  <div class="col-md-4">
    <%= link_to "Google", "#"%>
  </div>
  <div class="col-md-4">
    <%= link_to "Google", "#"%>
  </div>
</div>