<% provide(:title, @user.email) %>
<div class="container">
  <aside>
      <div id="grav-container"><%= gravatar_for @user %></div>
    </div>
    <section class="user-info row">
      <h1><%= @user.name %></h1>
      <p><%= @user.email %></p>
      <p><%= @user.mobile %></p>
    </section>
       <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>My Posts</h2>
        <div><%= render '/users/users_posts' %></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>My Comments</h2>
        <div><%= render 'users/users_comments' %></div>
      </div>
  </aside>
</div>
