<% provide(:title, 'Sign up') %>
<% provide(:disable, 'nav') %>
<div class="white-div">
  <h1>Sign up</h1>
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render partial: 'shared/error_messages', :locals => { :item => @user } %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: 'form-control' %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>

    <%= link_to "already a user?", login_path %>
  <% end %>
</div>