<div class="container-fluid">
    <div class="row">
        <div id="settings-menu" class="bg-dark text-white col-lg-2 col-md-3 col-sm-4 col-xs-5">
            <ul>
                <li><h4><%=link_to "My Profile", settings_profile_path %></h4></li>
                <li><h4><%=link_to "My Post", settings_posts_path %><h4></li>
                <li><h4><%=link_to "My Comments", settings_comments_path %></h4></li>
                <li><h4><%=link_to "Comments to Me", settings_receivedcomments_path %></h4></li>
                <li><h4><%=link_to "Settings", edit_user_path(current_user) %></h4></li>
            </ul>
        </div>
        <div id="settings-show" class="col-lg-10 col-md-9 col-sm-8 col-xs-7">
            <%= yield %>
        </div>
    </div>

</div>
