<% user = User.find_by(id: post.user_id) %>
<% if !user.nil? %>
<div class="row post" style="margin:0">
  <div class="col-md-1"><%= link_to gravatar_for(user, size: 50), get_user(user.id) %></div>
  <div class="col-md-11">
    <div class="row"> 
      <div class="col-md-12" id="post-title"><%= link_to post.title, current_post(post.id) %></div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= link_to user.name, get_user(user.id) %></div>
      <div class="col-md-3"><%= post.updated_at %></div>
      <div class="col-md-2"><%= post.topic %></div>
      <div class="col-md-2">view_count</div>
      <div class="col-md-2">comment_count</div>
    </div>
  </div>
</div>
<% end %>
