<% provide(:title, 'New post') %>
<div class="white-div">
  <h1>Post</h1>
  <%= form_for(@post, url: '/posts') do |f| %>
    <%= render partial: 'shared/error_messages', :locals => { :item => @post } %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :topic %>
    <%= f.text_field :topic, class: 'form-control' %>

    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>

    <%= f.submit "Post", class: "btn btn-primary" %>

    <%= link_to "Cancel", home_path, class: "btn btn-light" %>
  <% end %>
</div>